
//
// VARIABLES
//

// Grays
$gray: #666;
$lightGray: #eee;

// Copy from Hacker theme
$body-background: #151515; // cod-grey
$body-foreground: #eaeaea; // gallery
$header: #b5e853; // conifer
$blockquote-color: #aaa; // silver-chalice
$blockquote-border: #666; // dove-grey


// Font stacks
$global-font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}